<div id="PageHeader" class="PageHeader"
     style="position:fixed;text-align:right;left:0;top:0;right:0;height:68px;z-index:7777;">
    <div id="PageHeader_Container" class="PageHeader_Container">
        <div id="wb_View"
             style="position:absolute;left:646px;top:13px;width:139px;height:38px;text-align:center;z-index:0;">
			<button type="button" name="viewbtn" value="View" id="viewbtn"
                    onclick="location.href='/cinema-halls';">View cinema halls</button>
		</div>
    </div>
</div>
